@model JewelryShop.Model.DanhMuc

@{
    ViewBag.Title = "Delete";
}

<h2>Xoá danh mục</h2>

<h3>Bạn có chắc chắn muốn xoá ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-danger" />
            <br />
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
