@model List<JewelryShop.Model.SanPham>

<div class="product">
    <div class="container">
        <div class="product-top">
            <h3>Sản phẩm theo danh mục</h3>
            <div class="product-one">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 product-left">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="@Url.Action("Details","SanPham", new { id=item.SanPhamID })" class="mask"><img class="img-responsive zoom-img" src="@item.Anh" alt="" /></a>
                            <div class="product-bottom">
                                <h3>@item.TenSanPham</h3>
                                <p>@item.DanhMucID @item.SanPhamID</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">@item.DonGia VND</span></h4>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>